.profile {
    &__img {
        width: 100%;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        margin-top: 20px;
        display: flex;
        max-height: 300px;
    }

    &__ava {
        width: 20%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__description {
        width: 80%;
        padding-left: 20px;
    }
}