.header {
    text-align: start;
    background-color: deepskyblue;

    //react-styles
    //background-color: #61dafb;

    @media (prefers-reduced-motion: no-preference) {
        .logo {
            width: 100px;
            height: 100px;
            animation: App-logo-spin infinite 20s linear;
            border-radius: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
